// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('https://goo.gl/photos/WA2kGrWL2UmrZdNG8');
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
